body{
    background-image: url("../img/pattern.jpg");
    margin: 0%
}

header{
    background: #fff;
    position: fixed;
    width: 100%;
    float: right;
}

nav ul {
    list-style: none;
    position: relative;
    float: right;
    padding-right : 20px
}

section{
    float: right;
}

nav li{
    display: inline-block;
    padding: 10px
}

#logo{
    float: left;
    padding: 10px
}

#article-list{
    background: #fff;
    width: 80%;
    padding: 10px 20px 10px 20px;
    margin-left:10%
}

footer{
    background: #000;
    width: 100%;
    float: right;
    text-align: center;
    color: #fff;
    margin: 10px 0px 10px 0px;
}